#suspectInfoPage {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 50px;
    font-family: "Roboto";
}

.suspectInfoInputCont {
    width: 100%;
    padding-left: 20px;
    margin-bottom: 20px;
}

.suspectInfoInputDesc {
    font-size: 20px;
    color: #fff;
    margin-bottom: 5px;
}

.suspectInfoInput {
    padding: 5px;
    font-size: 20px;
    color: #000;
    border-radius: 10px;
    border: 1px solid black;
}

.suspectInfoProp {
    width: 100%;
    font-size: 20px;
    color: #000;
    padding-left: 20px;
}

#btnCont {
    width: 100%;
    padding-left: 20px;
    height: auto;
}

.suspectButton {
    height: 40px;
    margin-top: 20px;
    width: 150px;
    background: none;
    border: none;
    color: #000;
    background: #aaa;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all ease;
    margin-right: 10px;
    font-size: 20px;
}

.suspectButton:hover {
    transition: 0.6s all ease;
    background: rgb(90, 90, 90);
}

#suspectInfoInput {
    width: 450px;
    height: 750px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(91, 165, 229);
    padding: 20px;
    border-radius: 5px;
    margin-left: 2%;
    margin-top: 30px;
}

#suspectTweets {
    width: 600px;
    height: 750px;
    overflow: scroll;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

#tweetsTitle {
    width: 100%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tweetCont {
    width: 80%;
    height: 100px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 5px;
}