#homeHeading {
    width: 100%;
    min-height: 400px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(91, 165, 229);
}

#homeTitleCont {
    width: 80%;
    display: flex;
    height: 200px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

#homeTitle {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    font-family: 'Roboto';
}

#homeDesc {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: rgb(52, 52, 52);
}

#homeBtnCont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeBtn {
    margin-right: 20px;
    margin-left: 20px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-family: 'Roboto';
    cursor: pointer;
}

#homeSignup {
    transition: 0.3s all ease;
    background-color: rgb(36, 68, 58);
    color: #fff;
}

#homeSignup:hover {
    transition: 0.6s all ease;
    background-color: rgb(31, 53, 46);
    color: rgb(189, 189, 189);
}

#homeLogin {
    transition: 0.3s all ease;
    background-color: rgb(40, 71, 99);
    color: #fff;
}

#homeLogin:hover {
    transition: 0.6s all ease;
    background-color: rgb(30, 52, 71);
    color: rgb(189, 189, 189);
}

#pastShooters {
    width: 100%;
    height: auto;
    position: relative;
}

#pastShootersDesc {
    width: 80%;
    margin-left: 10%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#pastShootersCont {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.shooterCard {
    margin-top: 20px;
    width: 400px;
    min-height: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(85, 84, 84);
    cursor: pointer;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.shooterCardProp {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 100%;
    min-height: 60px;
    height: auto;
    display: flex;
    padding-left: 5px;
    align-items: center;
    color: #000;
}

.shooterCardTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: rgb(91, 165, 229);
    color: #fff;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex-wrap: wrap;
}

#graphWrapper {
    width: 100%;
    max-width: 1000px;
    height: auto;
}

#shooterDescWrapper {
    width: 100%;
    height: auto;
    font-family: "Roboto";
    font-size: 20px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}